.container-fluid{
  background-color: #3D3D3D;
}
#banner{
  width: 100%;

}
#newarrival{
  height: 600px;
  width: 100%;

}
.container-fluid h1{
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Stencil";
}
.col-sm-3 .thumbnail img{
    height: 200px;
  }
.row{
    background-color: #9C9C9C;
    padding: 10px;
  }
.caption{
    background-color: #2A2A2A;
  }
.caption p{
    color: white;
  }
.navbar-custom{
  background-color: #2A2A2A;
}
/*
changes the font color of navbar
*/
.navbar a {
    color: white;
}
li{
  font-family: "Stencil";
  font-size: 15px;
}
.center{
  text-align: center;
}
p{
  font-family:"Tahoma";
}
a{
  display: inline;
}
.searchform{
  padding:10px;
}
